<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color:aliceblue;">Atatus Task</h1>
    <div class="d-flex">
      <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addtask()"  class="btn btn-success">Create New Issue</button>
    </div>
  </div>
</nav>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Atatus Task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="taskform">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Title</label>
            <input type="email" formControlName="title" class="form-control"  id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Description</label>
           <textarea class="form-control" formControlName="description"></textarea>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" *ngIf="showadd" class="btn btn-primary" (click)="postissue()">Save</button>
        <button type="button" *ngIf="showedit" class="btn btn-primary" (click)="updateissue()">Update</button>
      </div>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of store">
      <td>{{data.title}}</td>
      <td>{{data.description}}</td>
      <td><button  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"  class="btn btn-info" (click)="edit(data)">Edit</button> <button class="btn btn-danger mx-3" (click)="deletedatas(data._id)">Delete</button></td>
    </tr>
  </tbody>
</table>
